.status {
  display: flex;
  justify-content: space-between;
  color: black;
  &__li {
    background-color: lightgray;
    padding: 5px;
    border-radius: 15px;
    font-size: 13px;
  }
  .progress {
    background-color: lavender;
  }
  .blocked {
    background-color: #e99999;
  }

  .done {
    background-color: greenyellow;
  }
}

.task {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
